$white: #dddddd;
$lightgrey:#a4a4a4;
$H1white:rgb(239, 239, 239);
$PGrey: rgba(250, 250, 250, 0.82);
$buttonBlue: rgba(0, 152, 255, 0.59);
$blue: #0075dd;
$temp: white;
$featureOverlay:rgba(45, 43, 134, 0.34);