@import "variables";
div#mid2_wrapper{
  width:100%;
  height:700px;
  overflow:hidden;
  position:relative;
  text-align:center;
      
  @media (min-width: 768px) and (max-width: 1220px){
      height:650px;
  }

  @media (max-width: 768px)  and (min-width: 438px){
          height:450px;
        }
    @media (max-width: 436px){
       height:400px;
    }

  
 

  
 

  & div.overlay{
      height:100%;
      background:#191954;//linear-gradient(to bottom right,  #000000 50%, #2d2b86);
  
      & img{
        opacity:0.3;
        margin-top:-700px;
        will-change:transform;
        position:absolute;
        left:0;
         width:130%;
        @media (min-width: 936px) and (max-width: 1024px){
          width:130%;
          margin-top:-620px;
        }
        @media (min-width: 768px) and (max-width: 936px){
          width:150%;
          margin-top:-620px;
        }
        @media (max-width: 768px) and (min-width: 438px){
          width:200%;
          margin-top:-520px;
        }
        @media (max-width: 436px){
          width:350%;
          margin-left:-50%;
          margin-top:-400px;
        }
     }
  }

  & div.main_wrapper{
    
    position:absolute;
    z-index:99;
    width:100%;
    left:0;
    top:0;
    
    @media  (max-width: 900px){
      padding-left:0;
      padding-right:0;
    }

    & h2{
      color:$white;

    }

    & div#overlay1{
      width:800px;
      height:450px;
      z-index:99;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
      background:linear-gradient(to bottom right,  rgba(255, 255, 255, 0.45) , rgba(25, 25, 84, 0) 90%);
      @media (min-width: 768px) and (max-width: 900px){
        width:90%;
        margin-left:0;
      }
      @media (max-width: 768px){
        background: none;
        box-shadow: none;
        width:100%;
      }
      & h5 {
        color : $white;
        text-transform:uppercase;
        margin:0;
        margin-top:40px;
        @media (max-width: 768px){
          margin-top:1%;
        }
        
      }
    }

    & table{
      border:none;
      position:relative;
      display:inline-block;
      width:auto;
      vertical-align:top;
      margin-top:20px;
      left:0;
      overflow:hidden;
      width:600px;
      border-collapse: collapse;
      @media (max-width: 768px){
        width:90%;
        text-align: center;
        display:table;
        width:90%;
        margin-left:5%;
      }
      & tbody{
        @media (max-width: 768px){
            width:100%;
            text-align:center;
            position:relative;
        }
        & tr {
          border-bottom : solid 1px $white;
          height:60px;
          @media (max-width: 768px){
            height:40px;
            width:100%;
          }
          & td{
            color:$white;
            vertical-align:bottom;
            padding-bottom:5px;
            @media (max-width: 768px){
               text-align:left;
            }
            & h4{
              color:$white;
              text-align:left;
              width:200px;
              margin:0;
              position:relative;
              @media (max-width: 768px){
               width:auto;
              }
            }
            &.day{
              padding-top:80px;
            }
            &.time{
              margin-left:40px;
            }
          }
        }
      }
    }
  }
}

