@import "variables";
div.main_wrapper{
  position:relative;
  display:inline-block;
  width:700px;
  text-align:left;
  top:20%;
  text-align:center;
  width:1000px;
  margin-top:40px;
  margin-bottom:60px;
  overflow:visible;

@media (max-width: 1024px){
    width:95%;
 
  }
}
